.app {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.anecdote {
  font-size: 1.2em;
  margin: 20px 0;
}
.vote{
    margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #00ff08;
  color: white;
}
.button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}
.vote:hover {
    background-color: #0fb300;
  }
